@import './base.css';

#app {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100dvh;
  background-color: azure;
  display: flex;
  flex-direction: column;
}
